@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Kantumruy+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', 'Kantumruy Pro', sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    @apply focus:outline-none;
  }
  button,
  a {
    @apply transition-transform duration-75 active:scale-95;
  }
}

@layer utilities {
  .custom-scrollbar {
    @apply pb-1;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-100;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}

#nprogress .bar {
  background: #ff006e !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff006e, 0 0 5px #ff006e !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff006e !important;
  border-left-color: #ff006e !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff006e !important;
}
